<%- include('./partials/head') %>
    <%- include('./partials/header') %>

        <body>
            <div class="mt-5">
                <div class="w-75 mx-auto">
                    <div role="tabpanel" class="row">
                        <div class="col-2 mt-5">
                            <!-- List group -->
                            <div class="list-group" id="tab-list" role="tablist">
                                <a class="list-group-item list-group-item-action" data-bs-toggle="list"
                                    href="#tournament" role="tab" id="tournament-tab">Tournaments</a>
                                <a class="list-group-item list-group-item-action" data-bs-toggle="list" href="#team"
                                    role="tab" id="team-tab">Teams</a>
                            </div>
                        </div>
                        <div class="col-8">
                            <input class="form-control mb-2" id="search" type="text" placeholder="Search...">
                            <!-- Tab panes -->
                            <div class="tab-content">
                                <div class="tab-pane fade show" id="tournament" role="tabpanel">
                                    <ul class="list-group" id="list-container">
                                        <% tournaments.forEach(function(tournament) { %>
                                            <li class="list-group-item p-3 tournament-listItem"
                                                id="<%= tournament.name %>-listItem"><span class="middle">
                                                    <%= tournament.name %>
                                                </span>
                                                <button type="button" id="<%= tournament.name %>-btn"
                                                    class="btn btn-outline-danger float-end endBtn"
                                                    data-bs-toggle="modal" data-bs-target="#endModal"
                                                    value="<%= tournament.name %>"
                                                    onclick="endTournament(this)">End</button>
                                            </li>
                                            <% }) %>
                                    </ul>
                                </div>
                                <div class="tab-pane fade" id="team" role="tabpanel">
                                    <ul class="list-group" id="list-container">
                                        <% teams.forEach(function(team) { %>
                                            <li class="list-group-item p-3 team-listItem"
                                                id="<%= team.teamName %>-listItem"><span class="middle">
                                                    <%= team.teamName %>
                                                </span>
                                                <button type="button" id="<%= team.teamName %>-btn"
                                                    class="btn btn-outline-danger float-end deleteBtn"
                                                    data-bs-toggle="modal" data-bs-target="#deleteModal"
                                                    value="<%= team.teamName %>"
                                                    onclick="deleteTeam(this)">Delete</button>
                                            </li>
                                            <% }) %>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <!-- sets team name for modal delete confirmation popup and for form input value -->
            <script type="text/javascript">
                function endTournament(element) {
                    var name = element.value;
                    $('#confirm-end-msg').html(`Are you sure you want to end tournament <span class="text-danger">${name}</span>? This action cannot be undone.`);
                    $('#modal-tournamentName').val(name);
                }

                function deleteTeam(element) {
                    var name = element.value;
                    $('#confirm-delete-msg').html(`Are you sure you want to delete team <span class="text-danger">${name}</span>? This action cannot be undone.`);
                    $('#modal-teamName').val(name);
                }
            </script>
            <script>
                $(function () {
                    $('a[data-bs-toggle="list"]').on('show.bs.tab', function (e) {
                        localStorage.setItem('activeTab', $(e.target).attr('href'));
                    });
                    var activeTab = localStorage.getItem('activeTab')
                    if (activeTab) {
                        $(`a[href="${activeTab}"]`).tab('show');
                    }
                    
                });
            </script>

            <!-- filters teams based on term in search bar -->
            <script type="text/javascript">
                $(function () {
                    $('#search').on('keyup', function () {
                        var searchTerm = $(this).val().toLowerCase();
                        $('.team-listItem,.tournament-listItem').filter(function () {
                            $(this).toggle($(this).text().toLowerCase().indexOf(searchTerm) > -1)
                        });
                    });
                });
            </script>

            <!-- Delete Team Form -->
            <form action="/delete-team" method="post">
                <!-- Delete Team Modal -->
                <div class="modal fade" id="deleteModal" data-bs-backdrop="static" data-bs-keyboard="false"
                    tabindex="-1" aria-labelledby="deleteModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="deleteModalLabel">Delete Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="modal-body">
                                <h8 id="confirm-delete-msg">
                                    <!-- Are you sure you want to delete team someTeam? This action cannot be undone. -->
                                </h8>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="modal-teamName" name="teamName" value="">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" id="delete-confirm-btn">Delete</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <!-- End Tournament Form -->
            <form action="/end-tournament" method="post">
                <!-- End Tournament Modal -->
                <div class="modal fade" id="endModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
                    aria-labelledby="endModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5 class="modal-title" id="endModalLabel">End Tournament Confirmation</h5>
                                <button type="button" class="btn-close" data-bs-dismiss="modal"
                                    aria-label="Close"></button>
                            </div>
                            <div class="modal-body" id="modal-body">
                                <h8 id="confirm-end-msg">
                                    <!-- Are you sure you want to end tournament someTournament? This action cannot be undone. -->
                                </h8>
                            </div>
                            <div class="modal-footer">
                                <input type="hidden" id="modal-tournamentName" name="tournamentName" value="">
                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                <button type="submit" class="btn btn-danger" id="end-confirm-btn">End</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>


            <link rel="stylesheet" href="/stylesheets/admin.css">
        </body>

        <%- include('./partials/footer') %>