<%- include('./partials/head') %>
<%- include('./partials/header') %>

<link rel="stylesheet" type="text/css" href="/stylesheets/jquery.bracket.min.css" />

<body>
    <% if (typeof tournament=='object' && tournament) { %>
    <section id="start" class="p-5 bg-dark text-light">
        <div class="container">
            <div class="row align-items-center justify-content-between">
                <h2><%= tournament.name %></h2>
                <div class="col-md p-5">
                    <p class="p-lead">
                        The tournament has not started yet. Please wait for the organizer to start the tournament.
                    </p>
                    <div class="progress" style="height: 20px;">
                        <div id="progressbar" class="progress-bar progress-bar-striped progress-bar-animated bg-danger" role="progressbar"
                            aria-label="Danger striped" style="width: <%= tournament.teams.length/tournament.size * 100 %>%" aria-valuenow="<%= tournament.teams.length %>/<%= tournament.size %>"
                            aria-valuemin="0" aria-valuemax="100"><%= tournament.teams.length %>/<%= tournament.size %></div>
                    </div>
                </div>
                <div class="col-md">

                    <!-- Display if teams have joined -->
                    <% if (tournament.teams.length > 0)  { %>
                    <h2>Teams</h2>

                    <table class="table table-dark table-striped table-sm">
                        <thead>
                            <tr>
                                <th scope="col">#</th>
                                <th scope="col">Team Name</th>
                            </tr>
                        </thead>
                        <tbody id="team-list">
                            <% let i = 1; tournament.teams.forEach(function(team) { %>
                            <tr>
                                <th scope="row"><%= i %></th>
                                <td><%= team.teamName %></td>
                            </tr>
                            <% i++; }) %>
                        </tbody>
                    </table>
                    <% } else { %>
                    <h2>No Team Has Joined Yet.</h2>
                    <% } %>

                </div>
            </div>
        </div>
    </section>
    <% } %>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io()
    
    socket.emit('join', "<%= tournament.name %>")
    socket.on('databaseUpdate', (tournament) => {
        var i = 1;
        var teamsHtml = "";
        tournament.teams.forEach(team => {
            teamsHtml +=
            `<tr><th scope="row">${i++}</th><td>${team.teamName}</td></tr>`;
        })
        $('#team-list').html(teamsHtml);

        var progressbar = $('#progressbar');
        progressbar.attr('style', `width: ${tournament.teams.length/tournament.size*100}%`);
        progressbar.attr('aria-valuenow', tournament.teams.length/tournament.size*100);
        progressbar.html(tournament.teams.length + '/' + tournament.size);
    }
)
</script>

<%- include('./partials/footer') %>