<%- include('../partials/head') %>
<%- include('../partials/header') %>

<body class="mt-5">
    <div class="container">

        <div class="row">
            <div class="col-md">
                <!-- Tournament Details Card -->
                <div class="card" style="width: 30rem;">
                    <div class="card-body">
                        <h3>Name: <%= tournament.name %></h3>
                        <h3>Size: <%= tournament.size %></h3>
                        <h3>Elimination Type: <%= tournament.type %></h3>
                        <button class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#joinModal">Join</button>
                    </div>
                </div>
            </div>

            <div class="col-md">
                <!-- Display if teams have joined -->
                <% if (tournament.teams.length > 0)  { %>
                <h2>Teams</h2>

                <table class="table table-hover mt-5">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Team Name</th>
                        </tr>
                    </thead>
                    <tbody id="team-list">
                        <% let i = 1; tournament.teams.forEach(function(team) { %>
                        <tr>
                            <th scope="row"><%= i %></th>
                            <td><%= team.teamName %></td>
                        </tr>
                        <% i++; }) %>
                    </tbody>
                </table>
                <% } else { %>
                <h2>No Team Has Joined Yet, Be the First!</h2>
                <% } %>
            </div>
        </div>

    </div>

    <!-- Join Tournament Modal -->
    <div class="modal fade" id="joinModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1"
        aria-labelledby="joinModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="joinModalLabel">Join Tournament</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-footer">
                    <form method="POST">
                        <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                        <button type="submit" class="btn btn-success">Join</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</body>

<script src="/socket.io/socket.io.js"></script>
<script>
    var socket = io()
    
    socket.emit('join', "<%= tournament.name %>")
    socket.on('databaseUpdate', (tournament) => {
        var i = 1;
        var teamsHtml = "";
        tournament.teams.forEach(team => {
            teamsHtml +=
            `<tr><th scope="row">${i++}</th><td>${team.teamName}</td></tr>`;
        })
        $('#team-list').html(teamsHtml);
    }
)
</script>
<%- include('../partials/footer') %>